{% extends "account/email/email_base.html" %}
{% load i18n %}

{% block email_title %}{% trans "Password Reset Request" %}{% endblock %}

{% block email_heading %}{% trans "Reset Your Password" %}{% endblock %}

{% block email_content %}
    <p>{% blocktrans with site_name=current_site.name %}You're receiving this email because you requested a password reset for your account at {{ site_name }}.{% endblocktrans %}</p>
    
    <p>{% trans "Please click the button below to choose a new password:" %}</p>
    
    <div class="text-center">
        <a href="{{ password_reset_url }}" class="button">{% trans "Reset Password" %}</a>
    </div>
    
    <p class="text-sm">{% blocktrans %}Or copy and paste this link into your browser:{% endblocktrans %}</p>
    <p class="text-sm"><a href="{{ password_reset_url }}" style="word-break: break-all;">{{ password_reset_url }}</a></p>
    
    <p>{% trans "If you didn't request this password reset, you can safely ignore this email. Your password won't be changed unless you create a new one using the link above." %}</p>
{% endblock %}
